<div class="table-row" (click)="selectPhoto()" [class.selected]="photo.isSelected">
    <div class="actions table-cell">
        <fa-icon [icon]="faPen" (click)="editPhotoTitle()"></fa-icon>
        <fa-icon [icon]="faTrashAlt" (click)="removePhoto()"></fa-icon>
    </div>
    <div class="photo-id table-cell">{{photo.id}}</div>
    <div class="photo-title table-cell">

        <span *ngIf="!isEditMode"> 
        <span> {{photo.title}}</span>
        </span>
        <span *ngIf="isEditMode" class="title-in-edit">
        <input type="text" (keyup.enter)="changeMode()" class="title-input" (input)="saveTitle()" [(ngModel)]="newTitle">
        <fa-icon [icon]="faCheck" (click)="changeMode()"></fa-icon>
        </span>


    </div>
    <div class="photo-id table-cell">{{photo.albumId}}</div>
    <div class=" table-cell">

        <img [src]="photo.url" class="photo-image">
    </div>


</div>