.table-row {
    display: flex;
    padding: 0.6rem;
    &.selected {
        background-color: aquamarine;
    }
    .photo-image {
        width: 1rem;
    }
    .table-cell {
        width: 20rem;
        text-align: center;
    }
    .title-input {
        outline: 0;
        border-width: 0px 0px 0.5px 0px;
        width: -webkit-fill-available;
    }
    fa-icon {
        padding: 0 1rem;
        cursor: pointer;
    }
}