.table-headers {
    display: flex;
    &>* {
        width: 20rem;
        text-align: center;
        padding: 1rem;
    }
    border-bottom: 1px solid gray;
}

.content {
    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.pageing-buttons {
    margin-left: 40rem;
    display: flex;
    padding: 1rem;
}

fa-icon {
    padding: 0 1rem;
    cursor: pointer;
}

.search-row {
    input {
        outline: 0;
        border-width: 0px 0px 0.5px 0px;
        width: 15rem;
        height: 2rem;
        font-family: monospace;
        transition: all .5s;
        &:focus {
            width: 30rem;
        }
    }
}